:root {
    --main-color: #1c6e8c;
    --sec-color: #2d2d2d;
    --thi-color: #fbfcff;
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
    --four-color: rgb(45, 170, 215);
}

.bg-four-color {
    background-color: var(--four-color);
}

.bg-main-color {
    background-color: var(--main-color);
}

.bg-thi-color {
    background-color: var(--main-color) !important;
}

.tx-main-color {
    color: var(--main-color);
}

.tx-sec-color {
    color: var(--sec-color) !important;
}

.tx-thi-color {
    color: var(--thi-color);
}

.logo {
    height: 80px;
    width: 200px;
}

.navbar a {
    color: var(--thi-color);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--thi-color);
    text-decoration: none;
}

.annunci {
    background-color: #5492aa;
    color: var(--thi-color);
    border: none;
    border-radius: 5px;
}

body {
    background-color: #f8f8f8;
}

p,
.btn,
a,
button {
    font-family: 'Noto Sans JP', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tenor Sans', sans-serif;
}

.masthead {
    /* height: 120vh; */
    min-height: 500px;
    background-image: url('./img/banner-bg4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* @media screen and (max-width: 900px) {
    .masthead {
        max-height: 50vh;
    }
} */

.masthead2 {
    height: 120vh;
    min-height: 500px;
    background-image: url('./img/check.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mastheadcheck {
    height: 120vh;
    min-height: 500px;
    background-image: url('./img/check2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.section1 {
    height: 110vh;
    /* min-height: 500px; */
    background-image: url('./img/downsmoke.png');
    /* background: linear-gradient(to bottom, #00d8d44b , #f8f8f849), url('/img/smoketransparent2.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar a:hover {
    color: #0ac0bd !important;
}

.section2 {
    /* height: 100vh; */
    /* min-height: 500px; */
    background-image: url('./img/orsmoke.png');
    /* background: linear-gradient(to bottom, #00d8d44b , #f8f8f849), url('/img/smoketransparent2.png'); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.error {
    height: 850px;
    width: 100%;
    background-image: url('./img/errore.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-work {
    background-image: url('./img/form.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.bg-work2 {
    background-image: url('./img/videoconf.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.bg-work3 {
    background-image: url('./img/explosion.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.sbar {
    border-radius: 15px;
    border: 2px solid var(--sec-color);
}

.radius-custom {
    border-radius: 50px;
}

.radius-custom2 {
    border-radius: 30px !important;
}

.radius-custom3 {
    border-radius: 0px 0px 30px 30px !important;
}

.radius-custom4 {
    border-radius: 30px 30px 0px 0px !important;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.6s;
}

.card-signin:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.8);
}

.card {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    transition: all 0.6s;
}

.card:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 1);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--main-color) !important;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    border-radius: 50%;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
    color: var(--thi-color);
}

.dropdown-item {
    color: var(--thi-color) !important;
    background-color: #165166;
}

.dropdown-item:hover {
    color: var(--thi-color) !important;
    background-color: #1c6e8c !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
}

.slick-dots li.slick-active button:before {
    opacity: 100;
    color: var(--main-color);
    display: none !important;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: var(--sec-color) !important;
    display: none !important;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: var(--sec-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 10px;
    display: none !important;
}


/* Bottoni custom */

.btn {
    color: var(--thi-color) !important;
    font-size: 16px;
    font-weight: 500;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    /* padding: 5px 35px; */
    border: 2px solid #00d8d6;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    background-color: var(--main-color);
}

.btn:hover {
    color: var(--thi-color);
    animation: swoosh 0.4s ease-out 0.2s;
}

.btn:before,
.btn:after {
    content: "";
    background-color: #00d8d6;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    transition: all 0.4s ease-out 0.1s;
}

.btn:after {
    opacity: 0;
    transform: scale(0.9, 0.7);
    left: 0;
    transition: all 0.3s ease-out 0s;
}

.btn:hover:before {
    left: 100%;
}

.btn:hover:after {
    opacity: 0.3;
    transform: scale(1);
}

.btn-reject {
    background-color: #d84400 !important;
}

.btn-accept {
    background-color: #00d848 !important;
}

.btn-review {
    background-color: #167bff !important;
}

@keyframes swoosh {

    0%,
    100% {
        box-shadow: 0 0 0 0 transparent;
    }

    50% {
        box-shadow: 0 0 0 8px rgba(0, 214, 216, 0.3);
    }
}

@media only screen and (max-width: 767px) {
    .btn {
        margin-bottom: 20px;
    }
}

.link-cat {
    color: var(--thi-color);
    text-decoration: none;
}

.link-cat:hover {
    color: #1ce4e0;
    text-decoration: none;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: var(--sec-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-white {
    background-color: var(--thi-color);
}


/* Position text in the middle of the page/image */

.bg-text {
    background-color: var(--main-color);
    /* Fallback color */
    background-color: rgba(45, 170, 215, 0.2);
    /* Black w/opacity/see-through */
    /* color: white; */
    /* font-weight: bold; */
    /* border: 3px solid #f1f1f1; */
    /* transform: translate(-50%, -50%); */
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.dropzone {
    border-radius: 15px !important;
    border: 2px solid var(--sec-color) !important;
}

.alert-custom {
    background-color: var(--four-color);
    color: var(--sec-color);
    font-weight: bold;
}


/* link  */

.page-item.active .page-link {
    z-index: 3;
    color: var(--thi-color);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}

.page-link {
    padding: 0.375rem 0.75rem;
}

.page-link {
    position: relative;
    display: block;
    color: var(--main-color);
    text-decoration: none;
    background-color: var(--thi-color);
    border: 1px solid var(--thi-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link:focus {
    z-index: 3;
    color: var(--four-color);
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 0 rgb(13 110 253 / 25%);
}